body {
  min-width: 18rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16;
  transition: 0.5s;
}
#main #toMain #settings {
  padding: 0.5em;
}
h3 {
  color: grey;
  border-bottom: 1px solid grey;
}
.header {
  display: flex;
}
#settings {
  margin-left: auto;
}

.header-icon {
  transition: 0.5s;
}

.gamestatus {
  text-align: center;
}

.score-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin: auto;
}
