body {
  min-width: 14rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16;
  transition: 0.5s;
}

.card h3 {
  color: grey;
  border-bottom: 1px solid grey;
}

#settings {
  margin-left: auto;
}

.gamestatus {
  text-align: center;
}

.score-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin: auto;
}
