#main {
  font-family: "Courier New", Courier, monospace;
  min-width: 15rem;
}
h3 {
  color: grey;
  border-bottom: 1px solid grey;
}
.header {
  display: flex;
  align-items: center;
}
.info {
  margin-right: auto;
}
.settings {
  margin-left: auto;
}

.gamestatus {
  text-align: center;
}

.score-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.5rem;
  margin: auto;
}
/*
#eagles {
  background-color: #004c54;
  color: #a5acaf;
}

#sixers {
  background-color: #006bb6;
  color: #fff;
}

#phillies {
  background-color: #e81828;
  color: #002d72;
}

#flyers {
  background-color: #f74902;
  color: #000000;
}
*/
/* Animations */

.info:hover {
  animation: flip 2s linear infinite;
  transition: 0.5s;
}

.settings:hover {
  animation: spin 2s linear infinite;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    animation: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
