#main {
  font-family: "Courier New", Courier, monospace;
  min-width: 275px;
}

.header {
  display: flex;
  align-items: center;
}
.info {
  margin-right: auto;
}
.settings {
  margin-left: auto;
}

.card {
  min-height: 50px;
  border-radius: 5px;
}

#eagles {
  background-color: #004c54;
  color: #a5acaf;
}

#sixers {
  background-color: #006bb6;
  color: #fff;
}

#phillies {
  background-color: #e81828;
  color: #002d72;
}

#flyers {
  background-color: #f74902;
  color: #000000;
}

/* Animations */

.info:hover {
  animation: flip 2s linear infinite;
  transition: 0.5s;
}

.settings:hover {
  animation: spin 2s linear infinite;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    animation: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
