body {
  font-family: "Courier New", Courier, monospace;
  min-width: 18rem;
}
h3 {
  color: grey;
  border-bottom: 1px solid grey;
}
.header {
  display: flex;
  align-items: center;
}
#records {
  margin-left: auto;
}

.header-icon {
  transition: 0.5s;
}

.gamestatus {
  text-align: center;
}

.score-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  margin: auto;
}
