#main {
  font-family: "Courier New", Courier, monospace;
  min-width: 275px;
}

.header {
  display: flex;
  align-items: center;
}
.info {
  margin-right: auto;
}
.settings {
  margin-left: auto;
}

.card {
  min-height: 50px;
  border-radius: 5px;
}

#eagles {
  background-color: #004c54;
  color: #a5acaf;
}

#sixers {
  background-color: #006bb6;
  color: #fff;
}

#phillies {
  background-color: #e81828;
  color: #002d72;
}

#flyers {
  background-color: #f74902;
  color: #000000;
}
